@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

/* ===================================
     Reset and Setup
 ====================================== */
html,
body {
  height: 100%;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset Default Margin */
a, abbr, acronym, address, applet,
big, blockquote, body, caption,
cite, code, dd, del, dfn, div, dl,
dt, em, fieldset, form, h1, h2, h3,
h4, h5, h6, html, iframe, img, ins,
kbd, label, legend, li, object, ol,
p, pre, q, s, samp, section, small, span,
strike, strong, sub, sup, table,
tbody, td, tfoot, th, thead, tr, tt, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #191919;
  background: #E4E4E4;
  z-index: 1;
}

.main__container {
  position: inherit !important;
  display: table;
  table-layout: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.contain__wrapper {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.music__wrapper {
  position: relative;
  width: 700px;
  height: 350px;
  background: #19181E;
  margin: 0 auto;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.left__panel {
  position: absolute;
  left: 0;
  width: 350px;
  height: 350px;
  background: #4729A2;
  cursor: w-resize;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 500ms cubic-bezier(0.65, 0.19, 0.1, 0.93) 00ms;
  transition: all 500ms cubic-bezier(0.65, 0.19, 0.1, 0.93) 00ms;
}

.right__panel {
  position: absolute;
  right: 0;
  width: 350px;
  height: 350px;
  background: #19181E;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 500ms cubic-bezier(0.65, 0.19, 0.1, 0.93) 00ms;
  transition: all 500ms cubic-bezier(0.65, 0.19, 0.1, 0.93) 00ms;
}

.header {
  position: relative;
  width: 350px;
  height: 120px;
  background: #09090B;
}

.icon-right {
  display: block;
  text-align: right;
  font-size: 24px;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
}

.header .song__name {
  color: #5bc0de;
  font-size: 1.450em;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.header .album__name {
  color: #ffffff;
  font-size: 1.000em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.music__control {
  position: relative;
  width: 350px;
  height: 230px;
}

.music__button {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* margin: auto; */
  text-align: center;
}

.button__pause {
  display: inline-block;
  height: 70px;
  width: 70px;
  background: #2D3446;
  border-radius: 50%;
  box-shadow: 0 0 1px rgb(45, 52, 70);
  font-size: 46px;
  margin: 0 10px;
  text-align: center;
  line-height: 70px;
  color: #FFF;
  cursor: pointer;
}

.button__prev,
.button__next {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: #428bca;
  border-radius: 50%;
  box-shadow: 0 0 1px rgb(193, 193, 193);
  font-size: 32px;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  vertical-align: bottom;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.button__prev_unlike {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: #0ba50e;
  border-radius: 50%;
  box-shadow: 0 0 1px rgb(193, 193, 193);
  font-size: 32px;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  vertical-align: bottom;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.button__pause:active,
.button__prev:active,
.button__next:active {
  background: #4729A2;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.display {
  display: none;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  display: block;
  background-repeat: repeat;
  padding-top: 200pc;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.rate {
  margin-left: 110%;
  padding: 5% 5% 5% 5%;
  margin-top: 50%;
}

.review {
  margin-left: 110%;
  padding: 5% 5% 5% 5%;
  margin-top: 25%;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

/* ===================================
     Reset and Setup
 ====================================== */
html,
body {
  height: 100%;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset Default Margin */
a, abbr, acronym, address, applet,
big, blockquote, body, caption,
cite, code, dd, del, dfn, div, dl,
dt, em, fieldset, form, h1, h2, h3,
h4, h5, h6, html, iframe, img, ins,
kbd, label, legend, li, object, ol,
p, pre, q, s, samp, section, small, span,
strike, strong, sub, sup, table,
tbody, td, tfoot, th, thead, tr, tt, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #191919;
  background: #E4E4E4;
  z-index: 1;
}

.main__container {
  position: fixed;
  display: table;
  table-layout: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.contain__wrapper {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.music__wrapper {
  position: relative;
  width: 1000px;
  height: 500px;
  background: #19181E;
  margin: 0 auto;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.left__panel {
  position: absolute;
  left: 0;
  width: 500px;
  height: 500px;
  background: #4729A2;
  cursor: w-resize;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 500ms cubic-bezier(0.65, 0.19, 0.1, 0.93) 00ms;
  transition: all 500ms cubic-bezier(0.65, 0.19, 0.1, 0.93) 00ms;
}

.right__panel {
  position: absolute;
  right: 0;
  width: 500px;
  height: 500px;
  background: #19181E;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 500ms cubic-bezier(0.65, 0.19, 0.1, 0.93) 00ms;
  transition: all 500ms cubic-bezier(0.65, 0.19, 0.1, 0.93) 00ms;
}

.header {
  position: relative;
  width: 500px;
  height: 120px;
  background: #09090B;
}

.icon-right {
  display: block;
  text-align: right;
  font-size: 24px;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
}

.header .song__name {
  color: #5bc0de;
  font-size: 1.450em;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.header .album__name {
  color: #ffffff;
  font-size: 1.000em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.music__control {
  position: relative;
  width: 350px;
  height: 230px;
}

.music__button {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* margin: auto; */
  text-align: center;
}

.button__pause {
  display: inline-block;
  height: 70px;
  width: 70px;
  background: #2D3446;
  border-radius: 50%;
  box-shadow: 0 0 1px rgb(45, 52, 70);
  font-size: 46px;
  margin: 0 10px;
  text-align: center;
  line-height: 70px;
  color: #FFF;
  cursor: pointer;
}

.button__prev,
.button__next {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: #428bca;
  border-radius: 50%;
  box-shadow: 0 0 1px rgb(193, 193, 193);
  font-size: 32px;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  vertical-align: bottom;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  margin-bottom: 10px;
  margin-left: 280px;
}

.button__prev_unlike {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: #0ba50e;
  border-radius: 50%;
  box-shadow: 0 0 1px rgb(193, 193, 193);
  font-size: 32px;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  vertical-align: bottom;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.button__pause:active,
.button__prev:active,
.button__next:active {
  background: #4729A2;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.display {
  display: none;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  display: block;
  background-repeat: repeat;
  padding-top: 200pc;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.rate {
  margin-left: 110%;
  padding: 5% 5% 5% 5%;
  margin-top: 50%;
}

.review {
  margin-left: 110%;
  padding: 5% 5% 5% 5%;
  margin-top: 15%;
}

.modal-backdrop {
  z-index: 0 !important;
}

.advertisement__wrapper {
  position: relative;
  width: 75vw;
  background: lightgray;
  margin: 0 auto;
  margin-top: 25px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.8);
  margin-bottom: 50px
}

.btn__wrapper {
  width: 100%;
  border: 1px black dashed;
}
