.mh-form{
  margin-top: 100px !important;
  margin-bottom: 100px !important;
  padding: 10px;
}

.mh-col-left{
  margin-left: -25px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 30px !important;
  border-top-right-radius: 30px !important;
  border-left: orange 10px solid;
}
.mh-side-heading{
  padding: .5rem 1rem;
  font-size: small;
}


