<div class="hero__backgorund owl-carousel">
  <div class="item" style="background: #3F51B5"></div>
</div>

<div class="main__container">
  <div class="contain__wrapper">
    <div class="music__wrapper">
      <div class="left__panel">
        <div class="cover owl-carousel">
          <div class="item">
            <img style="width: 100%" [src]="imageURL"/>
          </div>
        </div>
      </div>
      <div class="right__panel">
        <div class="music__info__wrapper">
          <div class="header">
            <div class="icon__wrapper">
              <span class="icon-right"><i class="zmdi zmdi-apps"></i></span>
              <div class="title owl-carousel">
                <div class="item">
                  <div class="song__name">{{tracksResult?.name}}</div>
                  <p class="album__name">{{tracksResult?.artistName}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="music__control">
            <div class="music__button">
              <span class="button__prev"><fa-icon [icon]="faThumbsUp" class="mh-icon small"></fa-icon></span>
              <span class="button__pause"><fa-icon [icon]="faStar" class="mh-icon"></fa-icon></span>
              <span class="button__next"><fa-icon [icon]="faEdit" class="mh-icon small"></fa-icon></span>
              <br/><br/><br/>
              <audio style="padding-bottom: 20px" class="text-center" controls="controls" *ngIf="tracksResult.previewURL">
                <source src="{{tracksResult?.previewURL}}" type="audio/mpeg">
              </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

