<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand mh-brand" href="#">MusicHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="input-group">
        <input type="text" class="form-control form-control-sm"
               placeholder="Search for albums, artists, playlists, tracks"
               aria-label="Search for albums, artists, playlists, tracks" aria-describedby="button-addon2"
               [(ngModel)]="searchQuery">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                  (click)="searchDomainObject(searchQuery)">Search
          </button>
        </div>
      </div>
      <a #loginComponent class="text-light mh-links" href="/login" *ngIf="!this.person">Login</a>
      <a #registerComponent class="text-light mh-links" href="/register" *ngIf="!this.person">Register</a>
      <div class="dropdown mh-links" *ngIf="this.person">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Welcome, {{this.person.username}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/dashboard">Dashboard</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" href="/profile">Profile</a>
          <a class="dropdown-item" style="cursor: pointer" (click)="logout()">Logout</a>
          <div *ngIf="person.dType === 'ADMIN'" role="separator" class="dropdown-divider"></div>
          <a *ngIf="person.dType === 'ADMIN'" class="dropdown-item" href="/manage">Manage</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<main class="container-fluid" role="main">
  <app-music-hub></app-music-hub>
</main>

<div class="fixed-bottom navbar navbar-expand-md navbar-dark bg-dark">
  <p class="text-white">&copy; 2017-2018 MusicHub. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</div>
