<div class="background-image" [ngStyle]="{'background-image': 'url(' + playlist.imageURL + ')'}"></div>
<div class="main__container">
  <div class="contain__wrapper">
    <div class="music__wrapper">
      <div class="left__panel">
        <div class="cover owl-carousel">
          <div class="item">
            <img style="width: 100%" [src]="playlist.imageURL"/>
          </div>
        </div>
      </div>
      <div class="right__panel">
        <div class="music__info__wrapper">
          <div class="header">
            <div class="icon__wrapper">
              <span class="icon-right"><i class="zmdi zmdi-apps"></i></span>
              <div class="title owl-carousel">
                <div class="item">
                  <div class="song__name" *ngIf="playlist.name">{{playlist.name}}</div>
                  <p class="album__name" *ngIf="playlist.createdBy">{{playlist.createdBy.username}}</p>
                </div>
              </div>
            </div>
          </div>
          <div style="background: #3e4147; width: 400px;  height: 230px; overflow: auto; padding-left: 10px; padding-top: 5px;
                      padding-bottom: 5px">
            <ul *ngIf="playlist.tracks">
              <li style="color: #5bc0de; font-size: 1.15em; font-weight: 300; letter-spacing: 1px;
              text-transform: uppercase;" *ngFor="let track of playlist.tracks; let i = index"
                  [attr.data-index]="i" (click)="goToTrackPage(track.id)">{{i+1}}. {{track.name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
